.App {
  display: grid;
  height:100vh;
  grid-template-rows: 190px 100px auto;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Calendar {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1px;
  background-color: #bbb;
  padding: 1px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25px;
  margin: 5px;
}

.Calendar > div {
  background-color: #fff;
}

.Calendar-day {
  text-align: left;
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
